 

<div class="container-fluid">
	<div class="home" id="home-header">
		<%= image_tag("rubber1.jpg", class: "img-responsive", id: "rubber1") %>
		<h1>Wubba Duckies</h1>
		<h2>Need a wubba duck for your bubble bath? We got em!*</h2>
		<p>***Or we might not. </p>
	</div>
</div>
<%# text_variable %>
<%#= text_variable %>