<div class="container-fluid" id="thank-you-page">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<%= image_tag("thanks2.jpg", class: "img-responsive", id: "thanks2-img") %>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2>Thank you.</h2>
					<h3> Someone just picked up your message </h3> 
					<h4>If you're as lucky as a Wubba Duckie, we'll respond ASAP.</h4>
					<h4><%= link_to 'Back to Contact page', static_pages_contact_path %></h4>
					<h4>OR</h4>
					<h4><%= link_to 'Head to Product page', products_path %></h4>
				</div>
				<div class="col-md-4 col-sm-4">
					<%= image_tag("thanks.jpg", class: "img-responsive", id: "thanks-img") %>
				</div>
			</div>
		</div>
	</div>
</div>
