
    <h2>Thank you for your purchase.</h2>
    <h1><%= button_to 'Back to Products', products_path, :method => "get", :class => "btn btn-info" %></h1>
    <p>OR</p>
    <h1><%= button_to 'Home', static_pages_index_url, :method => "get", :class => "btn btn-info" %></h1>

 