// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 


#product-photos {
	margin: 0 auto;
}


#product-jumbotron-header {
	/*font-family: 'Amatic SC', cursive;*/
	font-family: "Times New Roman", Times, serif;
	background-color: #ffff99;
	max-width: 100%;
}


#product-form {
	text-align: center;
	padding-top: 30px;
}

#comments-description {
	text-align: center;
	padding-top: 30px;
}

#comments-row {
	padding-top: 50px;
}

.rated, .rating {
	text-align: center;
}