// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#table-style th, td {

	height: 100px;
	border: inset;
	font-family: "Times New Roman", Times, serif;
	padding: 20px;
	background-color: #a3a375;
}


#product-photo {
	margin: 0 auto;
}

.jumbotron {
	font-family: "Times New Roman", Times, serif;
}

