
h1, h2, h3, h4, p {
	font-family: "Times New Roman", Times, serif;
	color: #a3a375;
	text-align: center;
}

.jumbotron p {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 0.9em;
}

nav {
	padding: 10px;
}


.navbar-custom {
    background-color: #FFF056;
}

footer {
	text-align: center;
	background-color: #FFF056;
	padding: 30px;
	margin-top: 50px;
}

body {
	padding-top: 50px;
	background-color: #FFFFFF;
}

#rubber1, #rubber2, #rubber4 {
	width: 50%;
	margin: 0 auto;
}

#product-photo {
	margin: 0 auto;
}

/*#feature-carousel {
	z-index: 1;
}*/

