
h1, h2, h3, h4 {
	font-family: "Times New Roman", Times, serif;
	color: #a3a375;
	text-align: center;
}

.jumbotron p {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 0.9em;
}

footer {
	text-align: center;
	background-color: #ffffcc;
	padding: 10px;
}

body {
	padding-top: 50px;
}

#wubba1, #factory, #chick {
	width: 50%;
	margin: 0 auto;
}

