 
h1, h2, h3, h4, p {
	font-family: "Times New Roman", Times, serif;
	color: #a3a375;
	text-align: center;
}

nav {
	padding: 10px;
}


footer {
	text-align: center;
	background-color: #191919;
	/*background-color: #FFF056;*/
	padding: 30px;
	margin-top: 50px;
}

body {
	padding-top: 50px;
	background-color: #FFF056;
	/*background-image: url("water.jpg");*/
	/*background-color: #FFFFFF;*/
}


.jumbotron p {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 0.9em;
}


 /*NAV BAR CUSTOM STYLE*/
.navbar-custom {
	background-color: #191919;
    /*background-color: #FFF056;*/
}


/*STYLES FOR PHOTOS IN HOME, ABOUT AND CONTACT*/ 
#rubber1, #rubber2, #rubber4 {
	width: 50%;
	margin: 0 auto;
}


/*LANDING PAGE FEATURED STYLES*/
#featured-carousel {
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 0px;
}
#featured-header {
	margin-top: 0px;
	background-color: #FFF056;
}

.featured-header-h1 {
	padding: 80px;
}

#featured-product {
	background-image: url('featured-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
}

/*HOME PAGE STYLES*/
#home-header {
/*	margin-top: 0px;*/
	background-image: url('water.jpg');
}


/*ABOUT PAGE STYLES*/
#about-header {
	background-color: #FFF056;
	margin-top: 0px;
}


/*CONTACT PAGE STYLES*/
#contact-header {
	background-color: #FFF056;
	margin-top: 0px;
}

#contact-form {
	margin-top: 20px;
}
 

/*THANK_YOU STYLES*/
#thank-you-page {
	display: inline;
}

#thanks2-img {
	margin: 0 auto;
	
}

#thanks-img {
	margin: 0 auto;
}
