<% if signed_in? %>
  <h1>Add a review:</h1>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p>
      <%= f.label :body, "Comments" %><br>
      <%= f.text_area :body, :required => true %>
    </p>
    <p>Rate me with Stars!
    <div class="rating"></div>
    </p>  
    <p>
    <%= submit_tag "Submit", class: "btn btn-default", type: "submit" %>
      <%#= f.submit “Submit”, class: "btn btn-default", type: "submit" %>
    </p>
  <% end %>
<% end %>