   
<div class="jumbotron">
  <h1>Wubba Duckie Products</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <%= render @products %>
    <p><button type="button" class="btn btn-success"><%= link_to 'New Product', new_product_path %></button></p>
  </div>
</div>


<p id="notice"><%= notice %></p>
  